main {
    font-family: sans-serif;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}

div {

}

img {
    height: 400px;
    width: 270px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

h2 {
    font-size: medium;
}

.destinos {
    height: 550px;
    width: 270px;
    box-shadow: 2px 3px 3px 1px #131313;
    transition: all 500ms;
    margin-bottom: 20px;
    margin: 10px;
}
.destinos:hover {
    transform: scale(1.05)
}

.basictext {
font-size: small;
}