main {
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trabajador {
    width: 300px;
    height: 400px;
    text-align: center;
    transition: all 500ms;
    padding-top: 40px;
    box-shadow: 1px 2px 8px #6b6b6b;
}

.trabajador:hover {
    transform: scale(1.05)
}

h1 {
    padding-top: 40px;
    font-family: Arial;
    text-align: center;
    padding-bottom: 50px;
}

img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.subtitulo {
    color: purple;
    font-family: Arial;
}