<%- include("header") %>

    <form action="/comandas" method="get">
        <div>
            <h1>Comandas</h1>
            <% comandas.forEach((comandas, index )=> { %>
                <a href="/comandaDetalle?id=<%= comandas.id %>">
                    <p><%= comandas.id %>, <%= comandas.id_usuarios %>, <% comandas.id_productos %></p>
                </a>
            <% }) %>
        </div>
    </form>

    <%include("footer") %>