<%- include ("header") %>

    <form action="/comanda" method="post">
        <label for="id">ID</label>
        <input type="text" name="id" id="id">
        <label for="id_usuarios">ID usuarios</label>
        <input type="text" name="id_usuarios" id="id_usuarios">
        <label for="id_productos">ID Productos</label>
    </form>

<%- include("footer") %>