<%- include("header") %>

<form action="/productos">
    <div>
        <h1>Productos</h1>
        <% productos.forEach((productos, index ) => { %>
            <div>
                <a href="/productos?id=<%= productos.id %>">
                    <p><%= productos.nombre %></p>
                </a>
            </div>
        <% }) %>
    </div>
</form>

<%include("footer") %>