<%- include ("header") %>

    <form action="/productoDetalle" method="get">
    <div>
        <h1>Detalles de Producto</h1>
        <p><% producto.nombre %></p>
        <p><% producto.precio %></p>
    </div>
</form
    <%- include("footer") %>