<%- include("header") %>

<form action="/productoDetalle">
    <div>
        <h1>Comandas</h1>
        <% comandas.forEach((comandas, index ) => { %>
            <div>
                <a href="/productoDetalle?id=<%= productoDetalle.id %>">
                    <p><%= comandas.id %>, <%= comandas.id_usuarios %>, <% comandas.id_productos %></p>
                </a>
            </div>
        <% }) %>
    </div>
</form>

<%include("footer") %>