body {
    font-family: 'Trebuchet MS';
}

ul a {
    color: white;
    text-decoration: 0;
}

nav {
    color: white;
    text-align: center;
    text-decoration: 0;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 25px;
    align-self: center;
    padding-top: 14px;
}

nav input {
    height: 35px;
    align-self: center;
    border-radius: 9px;
}

.navigationbar {
    background-color: #00a2ff;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.fondogris {
    background-color: #c7c7c7;
}

.SobreNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 50px;
}

.nosotros {
    width: 50%;
    padding-right: px;
}

.contenedor {
    width: 80%;
    margin: auto;
}

.imagen {
    width: 50%;
    text-align: center;
}

.imagen img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.iconos {
    width: 80px;
}

.Servicios {
    text-align: center;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.centrado {
    text-align: center;
}

.columnas {
    display: grid;
    grid-template-rows: auto;
    box-shadow: 1px 1px 7px #bbbbbb;
    border-radius: 7px;
    padding: 16px;
    background-color: #f3f3f3;
    transition: all 300ms;
}

.columnas:hover {
    transform: scale(1.05) ;
}

.column1 {
    grid-column: 1 / 2;
}

.column2 {
    grid-column: 2 / 3;
}

.column3 {
    grid-column: 3 / 4;
}

.column4 {
    grid-column: 4 / 5;
}

.caracteristicas {
    text-align: center;
}

.Portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.proyecto {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 1px 2px 8px #6b6b6b;
    border-radius: 7px;
    transition: all 300ms;
}

.proyecto:hover {
    transform: scale(1.05) ;
}

.portfotos {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    height: auto;
    width: 100%;
}

a {
    color: #00a2ff;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.infocontacto {
    text-align: center;
}

.contacto {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

textarea {
    height: 160px;
    border-radius: 6px;
}

button {
    background-color: #00a2ff;
    color: #ffffff;
    align-items: center;
    height: 30px;
    border-radius: 5px;
}

footer {
    background-color: rgb(46, 46, 46);
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.fondonegro {
    background-color: rgb(46, 46, 46);
}

.footgrid {
    color: white;
    display: grid;
    text-align: center;
    width: 60%;
    margin: auto;
}

.foot {
    margin-bottom: 40px;
    width: 150px;
    text-align: left;
    padding: 0 50px;
}

.redes {
    width: 30px;
}

.foot.column2 a {
    color: rgb(173, 173, 173);
    text-decoration: none;
}

.final {
    text-align: center;
}

.final a{
    color: #8c00ff;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    nav {
        display: none;
    }

    .navigationbar::after {
        content: "☰";
        font-size: 24px;
    }
    .SobreNosotros {
        flex-direction: column;
    }
    .Servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .column1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .column2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .column3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .column4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .imagen img{
        width: 350px;
        height: 250px;
    }
}

@media only screen and (max-width: 560px) {
    .navigationbar input {
        display: none;
    }

    body::after {
        content: "☰";
        font-size: 24px;
    }
    .SobreNosotros {
        flex-direction: column;
    }
    .Servicios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .Portfolio {
        grid-template-columns: 1fr;
    }

    .nosotros {
        width: 80%;
    }

    .contenedor {
        width: 100%;
        margin: auto;
    }

    .column1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .column2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .column3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .column4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .imagen{
        width: 80%;
    }
}


