body {
    font-family: 'Arial', sans-serif;
    background-color: #F3F4F6;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
    background-color: #E0E0E0;
}

h2 {
    color: #555;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: circle;
    margin-left: 40px;
}

li {
    color: #666;
    margin-bottom: 10px;
}

.destacado {
    font-weight: bold;
    font-size: 1.5em;
    color: #FF5733;
}