body {
    background-color: #ffe4bb;
    font-family: sans-serif;
    margin: 10px;
    float: left;
}

header {
    text-align: left;
}

nav {
    background-color: #f7f1e6;
    float: left;
    width: 190px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    line-height: 20px;
    font-size: small;
}
nav a {
    color: blue
}

main {
    /*float: left;*/
    padding-left: 20px;
    margin-left: 210px;
    background-color: #fff5df;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: auto;
}

.producto {
    font-size: small;
    float: left;
    width: 160px;
    margin: 10px;
    text-align: center;
    border: 1px #f3efe4;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 8px  #d1d1d1;
    height: 400px;
}

.producto h3 {
    display: inline-block;
    margin: 0;
    font-size: small;
    padding-top: 10px;
}

.producto a{
    color: blue;
}

footer {
    clear: both;
    background-color: #e6cb92;
    padding: 25px;
    text-align: center;
}